<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>DataDash</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://bootswatch.com/4/superhero/bootstrap.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <style type="text/css">
      .bg-cover {
          background-image: url('../static/finish_line_sm.png');
      }
  </style>
  </head>
<body>
  <div class="jumbotron jumbotron bg-cover text-center" >
    <div class="overlay"></div>
    <div class="container"></div>
  </div>
  <div>
      <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Home</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="analysis.html">Analysis</a>
            </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">About</a>
          </li>
        </ul>
    </div>
    <div class="jumbotron">
        <h1 class="display-3">DataDash Project</h1>
        <p class="lead">About the project</p>
    <div>
    <div class="row" style="padding-top: 30px">
        <div class="col-md-4">
                <div class="card mb-3">
                        <h3 class="card-header">Name</h3>
                        <div class="card-body">
                          <h5 class="card-title">Project Role</h5>
                          <h6 class="card-subtitle text-muted">Role description</h6>
                        </div>
                        <img style="height: 200px; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22318%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20318%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_158bd1d28ef%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A16pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_158bd1d28ef%22%3E%3Crect%20width%3D%22318%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22129.359375%22%20y%3D%2297.35%22%3EImage%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image">
                        <div class="card-body">
                          <p class="card-text">About me</p>
                        </div>
                        <div class="card-body">
                          <a href="#" class="card-link">GitHub Portfolio link</a>
                          <a href="#" class="card-link">LinkedIn link</a>
                        </div>

                </div>
        </div>
        <div class="col-md-4">
                <div class="card mb-3">
                        <h3 class="card-header">Name</h3>
                        <div class="card-body">
                          <h5 class="card-title">Project Role</h5>
                          <h6 class="card-subtitle text-muted">Role description</h6>
                        </div>
                        <img style="height: 200px; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22318%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20318%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_158bd1d28ef%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A16pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_158bd1d28ef%22%3E%3Crect%20width%3D%22318%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22129.359375%22%20y%3D%2297.35%22%3EImage%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image">
                        <div class="card-body">
                          <p class="card-text">About me</p>
                        </div>
                        <div class="card-body">
                          <a href="#" class="card-link">GitHub Portfolio link</a>
                          <a href="#" class="card-link">LinkedIn link</a>
                        </div>

                </div>
        </div>
        <div class="col-md-4">
                <div class="card mb-3">
                        <h3 class="card-header">Name</h3>
                        <div class="card-body">
                          <h5 class="card-title">Project Role</h5>
                          <h6 class="card-subtitle text-muted">Role description</h6>
                        </div>
                        <img style="height: 200px; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22318%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20318%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_158bd1d28ef%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A16pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_158bd1d28ef%22%3E%3Crect%20width%3D%22318%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22129.359375%22%20y%3D%2297.35%22%3EImage%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image">
                        <div class="card-body">
                          <p class="card-text">About me</p>
                        </div>
                        <div class="card-body">
                          <a href="#" class="card-link">GitHub Portfolio link</a>
                          <a href="#" class="card-link">LinkedIn link</a>
                        </div>

                </div>
        </div>
        <div class="col-md-4">
                <div class="card mb-3">
                        <h3 class="card-header">Name</h3>
                        <div class="card-body">
                          <h5 class="card-title">Project Role</h5>
                          <h6 class="card-subtitle text-muted">Role description</h6>
                        </div>
                        <img style="height: 200px; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22318%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20318%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_158bd1d28ef%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A16pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_158bd1d28ef%22%3E%3Crect%20width%3D%22318%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22129.359375%22%20y%3D%2297.35%22%3EImage%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image">
                        <div class="card-body">
                          <p class="card-text">About me</p>
                        </div>
                        <div class="card-body">
                          <a href="#" class="card-link">GitHub Portfolio link</a>
                          <a href="#" class="card-link">LinkedIn link</a>
                        </div>

                </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3">
                    <h3 class="card-header">Ira Petric-Buchberger</h3>
                    <div class="card-body">
                      <h5 class="card-title">Front End Developer</h5>
                      <h6 class="card-subtitle text-muted">Responsible for developing client-facing websites.</h6>
                    </div>
                    <img style="height: 100%; width: 100%; display: block;" src="https://upload.wikimedia.org/wikipedia/commons/6/67/User_Avatar.png" alt="Card image">
                    <div class="card-body">
                      <p class="card-text">My purpose is making order out of chaos, with a mantra 'How can I make this more efficient?'. Whether it was reducing laboratory testing time, streamlining database architecture, or optimizing morning routine for special needs preschoolers, I relied on collecting, measuring and analyzing data. </p>
                      <p>  I thrive when I'm learning something new, and that pursuit of new knowledge led me to this Data Science bootcamp. When I am not designing websites for class project, I enjoy spending time with my family, reading and contemplating on the meaning of life.</p>
                    </div>
                    <div class="card-body">
                      <a href="https://github.com/ipetricb" class="card-link">GitHub Portfolio link</a>
                      <a href="https://www.linkedin.com/in/irapetricbuchberger/" class="card-link">LinkedIn link</a>
                    </div>

            </div>
    </div>
    </div>
    <div>
      <footer class="footer" style="padding-top: 30px">
        <span class="bottom">The information presented here was created for educational purposes only.</span>
      </footer>
    </div>
  </body>
  
</html>
